/*<------------------------ Estilo ---------------------------->*/
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

i {
  margin: 5px;
}

ul {
  margin: 3px;
}
ul li {
  list-style: none;
  margin: 2px;
}

/*<------------------------ Esqueleto ---------------------------->*/
nav {
  width: 85%;
  margin: auto;
  padding: 2px;
  margin-top: 5px;
}
nav ul {
  margin-left: 60px;
}
nav ul li {
  color: #000000;
  font-family: Tahoma;
  margin-left: 20px;
}
nav ul li a {
  color: #000000;
}
nav ul li a:hover {
  text-underline-offset: 6px;
}

.navbar-brand {
  padding: 1px;
}

.botaoLogin {
  background: #0E324D;
  border-radius: 15px;
  color: white;
}

.botaoLogin:hover {
  background: white;
  color: #0E324D;
  border-color: #0E324D;
}

.main {
  height: 100%;
  width: 100%;
}
