/*<------------------------ Estilo ---------------------------->*/
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

i {
  margin: 5px;
}

ul {
  margin: 3px;
}
ul li {
  list-style: none;
  margin: 2px;
}

/*<------------------------ Esqueleto ---------------------------->*/
nav {
  width: 85%;
  margin: auto;
  padding: 2px;
  margin-top: 5px;
}
nav ul {
  margin-left: 15%;
}
nav ul li {
  color: #000000;
  font-family: Tahoma;
  margin-left: 10%;
}
nav ul li a {
  color: #000000;
}
nav ul li a:hover {
  border-bottom: 1px solid;
  padding-bottom: 4px;
}
nav ul li a:active {
  border-bottom: 1px solid;
  padding-bottom: 4px;
}

.navbar-brand {
  padding: 1px;
  width: 7%;
  height: 2%;
}
.navbar-brand img {
  width: 100%;
}

.botaoLogin {
  background: #0E324D;
  border-radius: 15px;
  color: white;
  padding: 7px 17px 7px 17px;
  width: 100%;
  margin-bottom: 5px;
}

.botaoLogin:hover {
  background: white;
  color: #0E324D;
  border-color: #0E324D;
}

.main {
  height: 100%;
  width: 100%;
}

.imagemHome {
  width: 75%;
  margin: auto;
}
.imagemHome img {
  width: 100%;
}

.containerLogin {
  box-shadow: 1px 2px 20px 3px #a0a0a0;
  width: 35%;
  height: auto;
  margin: auto;
  border-radius: 20px;
  padding: 4%;
  margin-top: 4%;
}
.containerLogin a {
  width: 100%;
}

.form-group input {
  margin-bottom: 20px;
}
