/*<------------------------ Estilo ---------------------------->*/
$font-different: Tahoma;
$font-stack: Helvetica, sans-serif;
$primary-color: #0E324D;
$secondary-color: #092133;
$dark-color: #000000;

body {
    margin: 0;
    font-family: $font-stack;
}

a {
    text-decoration: none;
    font-size:1rem;
}

i {
    margin: 5px;
}

ul {
    margin: 3px;

    li {
        list-style: none;
        margin: 2px;
    }
}

.container {
    width:100%;
}

/*<------------------------ Esqueleto ---------------------------->*/

nav {
    width: 85%;
    margin: auto;
    padding: 2px;
    margin-top: 5px;

    ul {
        margin-left: 15%;

        li {
            color: $dark-color;
            font-family: $font-different;
            margin-left: 10%;

            a {
                color: $dark-color;
            }

            a:hover {
                border-bottom: 1px solid;
                padding-bottom: 4px;
            }

            a:active {
                border-bottom: 1px solid;
                padding-bottom: 4px;
            }
        }
    }
}

.navbar-brand {
    padding: 1px;
    width:7%;
    height:2%;

    img {
        width: 100%;
    }
}

.botaoLogin {
    background: $primary-color;
    border-radius: 15px;
    color: #ffff;
    padding: 7px 17px 7px 17px;
    width:100%;
    margin-bottom:5px;
    font-size:1rem;
}

.botaoLogin:hover {
    background: #ffff;
    color: $primary-color;
    border-color: $primary-color;
}

.main {
    height: 100%;
    width: 100%;
}

.imagemHome {
    width:75%;
    margin: auto;

    img {
        width: 100%;
    }
}

table {
    margin:2px;

    td {
        padding:8px;
    }
}

.containerLogin {
    box-shadow: 1px 2px 20px 3px #a0a0a0;
    width:35%;
    height:auto;
    margin: auto;
    border-radius: 20px;
    padding: 4%;
    margin-top:4%;

    a {
        width:100%;
    }

}

.form-group {
    input {
        margin-bottom: 20px;
    }
}

#tabela_departamentos {
    width:90%;
}