@model AAAAAAAAAAAAAAAa.Models.Infra.RegistrarNovoUsuarioViewModel
@{
    Layout = "_LayoutIES";
}

<div class="containerLogin">
    <h5 class="text-center">Cadastro</h5>
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" class="btn botaoLogin" value="Cadastre-se">
        </div>
        <div class="form-group">
            <center><p>
                Já está cadastrado?
                <a asp-action="Acessar" asp-route-returnurl="@ViewData["ReturnUrl"]" class="cadastroLink">
                    Entre aqui!
                </a>
            </p></center>
        </div>
    </form>
</div>        