@model Modelo.Cadastros.Instituicao

@await Html.PartialAsync("_StylePartial")

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label asp-for="InstituicaoID" class="control-label"></label>
                <br />
                <div class="input-group">

                    <input asp-for="InstituicaoID" class="form-control" disabled="disabled" />
                </div>
                <label asp-for="Nome" class="control-label"></label>
                <br />
                <div class="input-group">

                    <input asp-for="Nome" class="form-control" disabled="disabled" />
                </div>
                <label asp-for="Endereco" class="control-label"></label>
                <br />
                <div class="input-group">

                    <input asp-for="Endereco" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="col-4">
            @{
                await Html.RenderPartialAsync("~/Areas/Cadastros/Views/Instituicao/_ComDepartamentos.cshtml", Model.Departamentos.ToList());
            }
        </div>
    </div>
</div>
