@model Modelo.Cadastros.Instituicao

@{
Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylePartial")

<div class="container">
    <nav class="navbar navbar-transparent bg-transparent">
        <div class="container-fluid">
            <h5>Exibindo uma instituição existente</h5>
        </div>
    </nav>
    <br />
    <div class="container">
        <form asp-action="Edit">
            <input type="hidden" asp-for="InstituicaoID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group text-center h3">
                <input type="submit" value="Atualizar Instituição" class="btn botaoLogin" style="width:30%; margin-top:14px" />
                <a asp-action="Index" class="btn botaoLogin" style="width:30%" value="Voltar" />
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")