@model Modelo.Discente.Academico

@await Html.PartialAsync("_StylePartial")

<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <label asp-for="AcademicoID" class="control-label"></label>
                    <br />
                    <div class="input-group">
                        <input asp-for="AcademicoID" class="form-control" disabled="disabled" />
                    </div>
                    <label asp-for="RegistroAcademico" class="control-label"></label>
                    <br />
                    <div class="input-group">
                        <input asp-for="RegistroAcademico" class="form-control" disabled="disabled" />
                    </div>
                    <label asp-for="Nome" class="control-label"></label>
                    <br />
                    <div class="input-group">
                        <input asp-for="Nome" class="form-control" disabled="disabled" />
                    </div>
                    <label asp-for="Nascimento" class="control-label"></label>
                    <br />
                    <div class="input-group">
                        <input asp-for="Nascimento" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
            <div class="col-3">
                <img class="img-thumbnail" src="@Url.Action("GetFoto", "Academico", new { id = Model.AcademicoID })" style="display:block; margin-left:auto;margin-right:auto;" />
                @Html.ActionLink("Download", "DownloadFoto", "Academico", new { id = Model.AcademicoID }, null)
                <form>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="chkRemoverFoto" value="Sim">Remover Foto
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>