@model Modelo.Discente.Academico

@{
    Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylePartial")

<div class="container">
    <nav class="navbar navbar-transparent bg-transparent">
        <div class="container-fluid">
            <h5>Exibindo um acadêmico existente</h5>
        </div>
    </nav>
    <br />
    <div class="container">
        @{
            await Html.RenderPartialAsync("~/Areas/Discente/Views/Academico/_PartialDetailsContentCard.cshtml", Model);
        }
    </div>
    <div class="container text-center">
        <a class="btn botaoLogin" data-toggle="modal" data-target="#modalConfirmationDelete" style="width:30%">Remover acadêmico</a>
        <a asp-action="Index" class="btn botaoLogin" style="width:30%">Voltar</a>
    </div>
</div>

<div class="modal fade" id="modalConfirmationDelete" tabindex="-1"
     role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal">
                    Remoção de Academico
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Confirma a exclusão do academico @Model.Nome.ToUpper() ??
                </p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="AcademicoID" />
                    <input type="submit" value="Remover Academico" class="btn btn-primary" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Fechar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>