@model Modelo.Cadastros.Departamento

@await Html.PartialAsync("_StylePartial")

<div class="container">
        <div class="form-group">
            <label asp-for="DepartamentoID" class="control-label"></label>
            <br />
            <div class="input-group">
                <input asp-for="DepartamentoID" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                <input asp-for="Nome" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Instituicao.Nome" class="control-label"></label>
            <br />
            <div class="input-group">
                <input asp-for="Instituicao.Nome" class="form-control" disabled="disabled" />
            </div>
        </div>
</div>