@model Modelo.Cadastros.Departamento
@{
    Layout = "_LayoutIES";
}

@await Html.PartialAsync("_StylePartial")

<div class="container">
    <nav class="navbar navbar-transparent bg-transparent">
        <div class="container-fluid">
            <h5>Exibindo um departamento existente</h5>
        </div>
    </nav>
    <br />
    <div class="container">
        @{
            await Html.RenderPartialAsync("~/Areas/Cadastros/Views/Departamento/_PartialDetailsContentCard.cshtml", Model);
        }
    </div>
    <div class="container text-center">
        <a asp-action="Edit" class="btn botaoLogin" asp-route-id="@Model.DepartamentoID" style="width:30%">Alterar</a>
        <a asp-action="Index" class="btn botaoLogin" style="width:30%">Voltar</a>    
    </div>
</div>
    