@{
    ViewData["Title"] = "Administração de Instituições";
    Layout = "~/Views/Shared/_LayoutIES.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="imagemHome">
                <img src="~/images/home.svg"/>
            </div>
        </div>
        <div class="col-sm-4">
            @*<div class="containerLogin">
                <h5>Deseja se cadastrar?</h5>
                <a asp-area="" asp-controller="Infra" asp-action="RegistrarNovoUsuario" class="btn botaoLogin">
                    Cadastrar-se
                </a>
            </div>*@
        </div>
    </div>
</div>