<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

    @await Html.PartialAsync("_StylePartial")

    @inject Microsoft.AspNetCore.Identity.SignInManager<AAAAAAAAAAAAAAAa.Models.Infra.UsuarioDaAplicacao> SignInManager
    @inject Microsoft.AspNetCore.Identity.UserManager<AAAAAAAAAAAAAAAa.Models.Infra.UsuarioDaAplicacao> UserManager
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-transparent bg-transparent">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <i class="fa-solid fa-gear fa-2xl" style="color:#0E324D"></i>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a asp-area="Cadastros" asp-controller="Instituicao" asp-action="Index">
                            INSTITUIÇÕES
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Cadastros" asp-controller="Departamento" asp-action="Index">
                            DEPARTAMENTOS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Discente" asp-controller="Academico" asp-action="Index">
                            ACADÊMICOS
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Docente" asp-controller="Professor" asp-action="AdicionarProfessor">
                            PROFESSORES
                        </a>
                    </li>
                </ul>
                <span class="login">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-area="" asp-controller="Infra" asp-action="Sair" class="btn botaoLogin">
                            SAIR
                        </a>
                    }
                    else
                    {
                        <a asp-area="" asp-controller="Infra" asp-action="Acessar" class="btn botaoLogin">
                            ENTRAR
                        </a>
                    }
                </span>
            </div>
        </div>
    </nav>
    <hr />
    <div class="main">
        @RenderBody()
    </div>
  
    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("ScriptPage", required: false)

</body>
</html>