<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

    @await Html.PartialAsync("_StylePartial")

    @inject Microsoft.AspNetCore.Identity.SignInManager<AAAAAAAAAAAAAAAa.Models.Infra.UsuarioDaAplicacao> SignInManager
    @inject Microsoft.AspNetCore.Identity.UserManager<AAAAAAAAAAAAAAAa.Models.Infra.UsuarioDaAplicacao> UserManager
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container-fluid">
        <row>
            <div class="containerNavbar col-3">
                <div class="sidebar">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                            <i class="fa-solid fa-book-open-reader fa-2xl"></i>
                        </a>
                    </div>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a asp-area="Cadastros" asp-controller="Instituicao" asp-action="Index">
                                <i class="fa-solid fa-building-columns fa-2xs"></i>Instituições
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Cadastros" asp-controller="Departamento" asp-action="Index">
                                <i class="fa-solid fa-building fa-2xs"></i>Departamentos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Discente" asp-controller="Academico" asp-action="Index">
                                <i class="fa-solid fa-graduation-cap fa-2xs"></i>Acadêmicos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Docente" asp-controller="Professor" asp-action="AdicionarProfessor">
                                <i class="fa-solid fa-user-tie fa-2xs"></i>Professores
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main col-9">
                <div class="container-fluid">
                    <ul class="nav justify-content-end">
                        <li class="navbar-item">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-action="Sair" asp-area="" asp-controller="Infra">
                                    <i class="fa-solid fa-right-to-bracket fa-2xs"></i>Sair
                                </a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Infra" asp-action="Acessar">
                                    <i class="fa-solid fa-right-to-bracket fa-2xs"></i>Login
                                </a>
                            }
                        </li>
                    </ul>
                    <hr />
                </div>
                <div class="container-fluid">
                    <div class="mb-3">
                        <div class="container-fluid">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </row>
    </div>

    @await Html.PartialAsync("_ScriptsPartial")
    @RenderSection("ScriptPage", required: false)

</body>
</html>