<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

    @await Html.PartialAsync("_StylePartial")

    @inject Microsoft.AspNetCore.Identity.SignInManager<AAAAAAAAAAAAAAAa.Models.Infra.UsuarioDaAplicacao> SignInManager
    @inject Microsoft.AspNetCore.Identity.UserManager<AAAAAAAAAAAAAAAa.Models.Infra.UsuarioDaAplicacao> UserManager
    @*@RenderSection("Styles", required: false)*@
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img class="media-heading" src="~/images/livro.png" width="35" height="35" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="btn btn-light" asp-area="Cadastros" asp-controller="Instituicao" asp-action="Index" style="margin-left:5px; height:48px;">INSTITUIÇÕES</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light" asp-area="Cadastros" asp-controller="Departamento" asp-action="Index" style="margin-left:5px; height:48px;">DEPARTAMENTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light" asp-area="Discente" asp-controller="Academico" asp-action="Index" style="margin-left:5px; height:48px;">ACADÊMICOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light" asp-area="Docente" asp-controller="Professor" asp-action="AdicionarProfessor" style="margin-left:5px; height:48px;">PROFESSORES</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a asp-action="Sair" asp-area="" asp-controller="Infra" class="btn btn-light" style="margin-left:5px">
                                Sair
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-item nav-link btn btn-light" asp-area="" asp-controller="Infra" asp-action="Acessar" style="margin-left:5px">
                                Login
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
     <div class="container-fluid" style="margin-top: 20px;"> 
         @RenderBody()
     </div>
     <nav class="navbar sticky-bottom bg-secondary" style="margin-top:50px">
        <a class="navbar-brand">
            Alice Schünemann Corrêa
        </a>
    </nav>
    
    @RenderSection("ScriptPage", required: false)
</body>
</html>